<%- include("header.ejs") %>

<p><iframe src="http://holochain.org" scrolling="no" width="400" height="20"></iframe></p>

<%- library.function_heading("commit", [ { name: "entryType", type: "string" }, { name: "entryData", type: "object" }]) %>

<p>
Attempts to commit an entry to your local, source chain. It will cause callback to your <%- library.function_link("validate") %> function. Returns either an error or the hash of the committed entry upon success.
</p>

<%- library.code_example_heading("commit") %>

<%- library.code_example_block_header("commit") %>
commit()
<%- library.code_example_block_footer("commit") %>

<%- include("footer.ejs") %>
